*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:35vw;
    height:50vh;
    border:2px solid red;
    margin: 5rem auto;
    padding-top: 1.5rem;
    
    
}
h1{
    width: 95%;
    
    border:2px solid red;
    margin:auto;  
    padding-left:1%; 
}
.jonin{
    width:95%;
    border:2px solid red;
    margin:1rem auto;
    padding-left:1%;
}


  ul{
    width: 95%;
    /* border: 2px solid blue; */
   
}

.ronin{
    width:100%;
 
   padding:0.3rem;
   border: 2px solid red;
   margin-left:0.5rem;
    
}
li{
   
    border:2px solid red;
    /* margin-left: 1rem; */
    padding:0.5rem;

    
    /* margin:0rem 1rem;
    padding:1rem; */
}
.last{
    margin-top:3%;
    margin-left:0.5rem;
    border:blue 2px solid;
}
button,a{
    padding:2%;
    border:2px solid red;
    margin:0 1.5%;
}
